button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
	border: 1px solid;
	border-color: $color__border-button;
	background: $color__background-button;
	line-height: 1;
	padding: .6em 1em .4em;

	@include border-radius(50px);
	border: none;
	text-transform: uppercase;
	padding: 14px 20px;
	font-weight: 700;
	font-size: 100%;
	color: #fff;

	&.search-submit{
		border-radius: 0;
	}

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}

/*
input[type="submit"]#submit{
	font-size: 100%;
	color: #fff;
	background-color: #eaa32f;
	@include border-radius(50px);
	border: none;
	text-transform: uppercase;
	padding: 12px 20px;
	font-weight: 700;
}
*/
