.widget {
	margin: 0 0 4.5em;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}

	ul {
		margin-left: 0;
		padding-left: 0;
	}

	li{
		margin-bottom: 5px;
		list-style: none;
		margin-left: 0;
	}

	.site-footer & a {
		color: #fff;
		text-decoration: none;
	}
}

.widget-title{
	font-size: $font__size-h2;
	text-transform: uppercase;
	margin-bottom: 50px;

	.site-footer & {
		margin-bottom: 50px;
	}
}
