.widget {
	margin: 0 0 2.5em;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}

	li{
		margin-bottom: 10px;
	}

}

.widget-title{
	font-size: $font__size-h2;
	text-transform: uppercase;
}
