ul, ol {
	margin: 0 0 1.5em 0;
	padding-left: 0;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

.content-area {
	li{
		margin-left: 20px;
	}
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}
