.sticky {
	display: block;
}

.hentry {
	margin: 0 0 2.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.archive{
	.page-header .page-title{
		font-size: 18px;
	}
}

.archive-description{
	font-family: $font__quote;
	font-style: italic;
}
